html, body, *{
    padding: 0px;
    margin: 0px;
    font-family: "Jersey 20", sans-serif;
}

#game-wrapper{
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#game{
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 80vw;
}

.coord-table{
    border-collapse: collapse;
}

.coord-table td{
    border: 1px solid #4458a2;
    color: #2d3b6c;
    border-collapse: collapse;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
}

#horiz-coord-table{
    transform: translate(0px, 41px);
}

#vertic-coord-table{
    transform-origin: left top;
    transform:translate(0px, 41px) rotate(90deg);
}

#vertic-coord-table td{
    transform: rotate(270deg);
}

#game-table{
    border-collapse: collapse;
}

#game-table td{
    border: 1px solid #A9B4DB;
    border-collapse: collapse;
    padding: 20px;
    margin: 0px;
}

.tile{
    background: white;
}

.tile:hover{
    cursor: pointer;
}

#sidepane{
    background-color: #8fc0a9;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 20vw;
}

.sidepane-item{
    margin: 20px 0px;
}

#title{
    margin: 8px 0;

    font-size: 3.5em; 
    letter-spacing: 0.1em;
}

#menu-wrapper{
    margin: 16px;
    color: #396044;
}

#menu{
    margin: 8px 0;
}

#level h2{
    letter-spacing: 3px;
    font-size: 2.5em; 
    display: inline;
    padding: 0 5px;
}

#tile-list{
    color: #022b3a;
    height: auto;
}

#tile-list ul{
    list-style-type: none;
}

#tile-list li{
    margin: 20px 0px;
    font-size: 1.7em;
}

#tile-list li::before{
    content: "";
    border: 1px solid #022b3a;
    padding: 4px 16px;
    margin-right: 14px;
    background-color: red;
}

hr{
    border-top: 1px solid aliceblue;
}

#done-button{
    padding: 10px;
    width: 100%;

    border: 1px solid #022b3a;
    border-radius: 8px;
    background-color: #396044;

    text-transform: uppercase;
    color: #deede6;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#done-button:hover{
    background-color: #022b3a;
    cursor: pointer;
}

#levels-menu{
    /* border: 2px solid red; */
}

#levels-menu li{
    margin: 10px 0px;
    padding: 10px;
    background-color: #deede6;

    border: 1px solid #022b3a;
    border-radius: 8px;

    list-style-type: none;
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 2px;
}

#levels-menu li:active, #levels-menu li:hover{
    background-color: #022b3a;
    color: #deede6;
    cursor: pointer;
}