html, body, *{
    padding: 0px;
    margin: 0px;
    font-family: "Jersey 20", "Courier New", monospace, sans-serif;
}

#game-wrapper{
    width: 100%;
    height: 100%;
    background-color: bisque;
}

#game{
    background-color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 93vw;
}

#popup-wrapper{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

#winlose-wrapper{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

#popup, #winlose{
    visibility: hidden;
    position: absolute;
    z-index: 2;
    top:40%;
    left: 32%;

    width: 30vw;
    background-color: #555;
    border-radius: 6px;

    font-size: 60px;
    color: #fff;
    text-align: center;
}

#level-popup{
    width: 20%;
    margin: auto;
    padding: 4px;

    background: black;

    font-size: 25px;
}

#ready{
    display: block;
    margin: 20px;
}

#start-button{
    width: fit-content;
    height: fit-content;

    /* margin-top: 20px; */
    margin-bottom: 10px;
    padding: 5px 10px;

    border: 2px solid black;
    border-radius: 6px;

    font-size: 30px;

    cursor: pointer;
}


#timer-wrapper{
    position: absolute;
    top: 10%;
    left: 5%;
}

#timer-outside{
    background: turquoise;
    padding: 16px;
    border-radius: 20px;
}

#timer-inside{
    background: gainsboro;
    padding: 15px;
    border: 4px solid black;
    border-radius: 10px;
}

.coord-table{
    border-collapse: collapse;
}

.coord-table td{
    border: 1px solid #4458a2;
    color: #2d3b6c;
    border-collapse: collapse;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
}

#horiz-coord-table{
    transform: translate(0px, 41px);
}

#vertic-coord-table{
    transform-origin: left top;
    transform:translate(0px, 41px) rotate(90deg);
}

#vertic-coord-table td{
    transform: rotate(270deg);
}

#game-table{
    border-collapse: collapse;
}

#game-table td{
    border: 0.5px solid #A9B4DB;
    border-collapse: collapse;
    padding: 20px;
    margin: 0px;
}

.tile{
    background: white;
}

.tile:hover{
    cursor: pointer;
}

#sidepane{
    background-color: #8fc0a9;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    width: 20vw;
}

.sidepane-item{
    margin: 20px 0px;
}

#title{
    margin: 8px 0;

    font-size: 3.5em; 
    letter-spacing: 0.1em;
}

#menu-wrapper{
    margin: 16px;
    color: #396044;
}

#menu{
    margin: 8px 0;
}

#level h2{
    letter-spacing: 3px;
    font-size: 2.5em; 
    display: inline;
    padding: 0 5px;
}

#tile-list{
    color: #022b3a;
    height: auto;
}

#tile-list ul{
    list-style-type: none;
}

#tile-list li{
    visibility: hidden;
    margin: 20px 0px;
    font-size: 2em;
}

#tile-list li div{
    content: "";
    border: 1px solid #022b3a;
    margin-right: 14px;
    margin-top: -6px;
    background-color: red;
    width: 40px;
    height: 40px;
    float: left;
}

hr{
    border-top: 1px solid aliceblue;
}

#done-button{
    padding: 10px;
    width: 100%;

    border: 1px solid #022b3a;
    border-radius: 8px;
    background-color: #396044;

    text-transform: uppercase;
    color: #deede6;
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#done-button:hover{
    background-color: #022b3a;
    cursor: pointer;
}

#levels-menu{
    /* border: 2px solid red; */
}

#levels-menu li{
    margin: 10px 0px;
    padding: 10px;
    background-color: #deede6;

    border: 1px solid #022b3a;
    border-radius: 8px;

    list-style-type: none;
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 2px;
}

#levels-menu li:active, #levels-menu li:hover{
    background-color: #022b3a;
    color: #deede6;
    cursor: pointer;
}